<h1 class="ms-2">All Restaurants</h1>
<%= link_to 'Add a new Restaurant', new_restaurant_path, class: 'btn btn-success mt-1 mb-2 ms-2'  %>
<div class="row">
  <% @restaurants.each do |restaurant| %>
    <div class="col-12 col-md-6 col-lg-4">
      <%= link_to restaurant_path(restaurant),
      class: 'text-dark text-decoration-none' do %>
        <div class="card m-2" style="width: 18rem; height: 26rem;">
          <div class="card-body">
            <h5> <%= restaurant.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= restaurant.food %></h6>
            <p class="card-text"><%= restaurant.description %></p>
            <p class="card-text"><%= restaurant.location %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
