<div class="card m-3" style="width: 18rem; height: 36rem;">
   <img src="https://loremflickr.com/320/240/restaurant" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= @restaurant.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @restaurant.food %></h6>
    <p class="card-text"><%= @restaurant.description %></p>
    <p class="card-text"><%= @restaurant.location %></p>
    <p>
      <%= link_to(edit_restaurant_path,
      class: "btn btn-success text-decoration-none") do %>
        <spam>Update <%= @restaurant.name %></spam>
      <% end %>
    </p>
    <p>
      <%= link_to restaurant_path(@restaurant), method: :delete,
      class: 'btn btn-success text-decoration-none mt-2',
      data: { confirm: "Do you really want to delete this restaurant?" } do %>
        <spam>Delete <%= @restaurant.name %></spam>
      <% end %>
    </p>
  </div>
</div>
